.margin {
  width: 1200px;
  margin: 0 auto; }

html {
  background: #f5f5f5; }

#top {
  background: #ffffff url(../img/top.png) no-repeat top;
  border-bottom: 1px solid #e4e4e4;
  height: 112px; }
  #top .top-b {
    height: 30px; }
    #top .top-b .t-l {
      margin-top: 80px;
      float: left; }
      #top .top-b .t-l span {
        font: 12px/30px ""; }
      #top .top-b .t-l .red {
        display: inline-block;
        background: url(../img/logo1.png) no-repeat;
        height: 13px;
        width: 20px;
        vertical-align: middle; }
      #top .top-b .t-l .xia {
        display: inline-block;
        background: url(../img/logo2.png) no-repeat;
        height: 5px;
        width: 10px;
        vertical-align: middle; }
    #top .top-b .t-r {
      float: right;
      margin-top: 80px; }
      #top .top-b .t-r span {
        font: 12px/30px "";
        color: #787878; }
      #top .top-b .t-r .bottom {
        display: inline-block;
        background: url(../img/logo3.png);
        height: 6px;
        width: 10px;
        vertical-align: middle; }

header {
  height: 182px;
  background: #f5f5f5; }
  header .ht {
    overflow: hidden; }
    header .ht .img {
      float: left;
      margin-left: 20px;
      margin-top: 47px; }
    header .ht .h-c {
      float: left;
      margin-left: 139px;
      margin-top: 40px; }
      header .ht .h-c .h-c-t {
        overflow: hidden; }
      header .ht .h-c .h-c-t-l {
        box-sizing: border-box;
        height: 44px;
        width: 498px;
        border: 1px solid #ed5831;
        float: left;
        height: 44px; }
        header .ht .h-c .h-c-t-l input {
          width: 436px;
          height: 100%;
          border: none;
          float: left;
          background-color: none; }
        header .ht .h-c .h-c-t-l a {
          background: url(../img/logo5.png) no-repeat;
          height: 42px;
          width: 60px;
          vertical-align: middle;
          border: none;
          display: inline-block; }
      header .ht .h-c .h-c-t-c {
        float: left;
        margin-left: 60px; }
        header .ht .h-c .h-c-t-c i {
          background: url(../img/logo6.png) no-repeat;
          height: 24px;
          width: 24px;
          vertical-align: middle;
          border: none;
          display: inline-block; }
        header .ht .h-c .h-c-t-c a {
          font: 12px/44px "";
          color: #212121;
          margin-left: 14px; }
      header .ht .h-c .h-c-t-r {
        float: left;
        margin-left: 70px; }
        header .ht .h-c .h-c-t-r i {
          background: url(../img/logo7.png) no-repeat;
          height: 24px;
          width: 24px;
          vertical-align: middle;
          display: inline-block; }
        header .ht .h-c .h-c-t-r a {
          font: 12px/44px ""; }
      header .ht .h-c .h-c-b ul li {
        float: left;
        font: 12px/30px "";
        margin-right: 20px;
        color: #999999; }
  header .hb {
    margin-top: 28px;
    background: #000;
    overflow: hidden; }
    header .hb .hb-r ul {
      float: left;
      overflow: hidden; }
      header .hb .hb-r ul li {
        float: left;
        font: 16px/37px "";
        color: #fff;
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center; }
        header .hb .hb-r ul li:hover {
          background: #EB5A41; }

#main .box-fix {
  display: flex; }
  #main .box-fix .box {
    display: flex;
    flex-direction: column;
    width: 550px;
    position: relative;
    left: 0;
    top: 0; }
    #main .box-fix .box .imgbox {
      position: relative;
      left: 0;
      top: 0;
      display: flex;
      height: 450px;
      width: 100%; }
      #main .box-fix .box .imgbox img {
        width: 100%;
        height: 100%; }
      #main .box-fix .box .imgbox span {
        background: rgba(0, 9, 159, 0.3);
        position: absolute;
        display: none; }
    #main .box-fix .box .sbox {
      height: 100px;
      width: 100%;
      display: flex; }
      #main .box-fix .box .sbox ul {
        display: flex;
        justify-content: center;
        align-items: center; }
        #main .box-fix .box .sbox ul li {
          margin-left: 10px;
          width: 80px;
          height: 80px;
          border: 1px solid #99f;
          cursor: pointer; }
          #main .box-fix .box .sbox ul li.active {
            border: 1px solid #f99; }
          #main .box-fix .box .sbox ul li img {
            height: 100%;
            width: 100%; }
    #main .box-fix .box .bbox {
      position: absolute;
      left: 110%;
      top: 0;
      height: 450px;
      width: 550px;
      overflow: hidden;
      display: none; }
      #main .box-fix .box .bbox img {
        width: 1100px;
        height: 900px;
        position: absolute;
        left: 0;
        top: 0; }
  #main .box-fix .right {
    margin-left: 20px;
    flex: 1; }
    #main .box-fix .right p {
      font-size: 18px;
      font-weight: 600; }
    #main .box-fix .right .jiage {
      background: #ddd;
      margin-top: 40px; }
      #main .box-fix .right .jiage span.j-l {
        display: inline-block;
        font: 16px/26px "";
        padding-right: 40px; }
      #main .box-fix .right .jiage span.price {
        display: inline-block;
        font: 26px/26px "";
        padding-right: 40px;
        color: #f47518; }
      #main .box-fix .right .jiage span.low {
        display: inline-block;
        font: 12px/26px "";
        padding-left: 200px; }
      #main .box-fix .right .jiage p {
        font: 14px/24px "";
        color: #999; }
    #main .box-fix .right .xinghao {
      margin-top: 40px;
      height: 40px;
      display: flex;
      align-items: center; }
      #main .box-fix .right .xinghao .j-l {
        display: inline-block;
        font: 16px/26px "";
        padding-right: 40px; }
      #main .box-fix .right .xinghao .d1 {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 20px;
        height: 30px;
        width: 40px;
        border: 1px solid #EB5A41; }
        #main .box-fix .right .xinghao .d1.active {
          border: 1px solid #99f; }
    #main .box-fix .right .zhongliang {
      margin-top: 40px; }
      #main .box-fix .right .zhongliang .j-l {
        display: inline-block;
        font: 16px/26px "";
        padding-right: 40px; }
      #main .box-fix .right .zhongliang .weight {
        display: inline-block;
        font: 12/24px "";
        margin-left: 30px; }
    #main .box-fix .right .num {
      margin-top: 40px; }
      #main .box-fix .right .num .j-l {
        display: inline-block;
        font: 16px/26px "";
        padding-right: 40px; }
      #main .box-fix .right .num input {
        margin-left: 20px;
        width: 40px; }
    #main .box-fix .right .add {
      height: 40px;
      width: 120px;
      background: #EB5A41;
      color: #fff;
      font: 16px/40px "";
      cursor: pointer;
      margin-top: 55px;
      text-align: center; }

#footer {
  height: 488px;
  background: #ebebeb;
  margin-top: 45px;
  border-top: 1px solid #000; }
  #footer .f-t {
    overflow: hidden;
    padding-bottom: 50px; }
    #footer .f-t .f-t-l {
      overflow: hidden;
      float: left; }
      #footer .f-t .f-t-l .d1 {
        margin-top: 54px;
        float: left;
        width: 120px;
        margin-right: 10px; }
        #footer .f-t .f-t-l .d1 dt {
          font-size: 14px;
          margin-bottom: 14px; }
        #footer .f-t .f-t-l .d1 dd {
          font-size: 12px;
          margin-bottom: 14px; }
      #footer .f-t .f-t-l .d2 {
        margin-top: 54px;
        float: left;
        width: 120px;
        margin-right: 10px; }
        #footer .f-t .f-t-l .d2 dt {
          font-size: 14px;
          margin-bottom: 14px; }
        #footer .f-t .f-t-l .d2 dd {
          font-size: 12px;
          margin-bottom: 14px; }
      #footer .f-t .f-t-l .d3 {
        margin-top: 54px;
        float: left;
        width: 120px;
        margin-right: 10px; }
        #footer .f-t .f-t-l .d3 dt {
          font-size: 14px;
          margin-bottom: 14px; }
        #footer .f-t .f-t-l .d3 dd {
          font-size: 12px;
          margin-bottom: 14px; }
      #footer .f-t .f-t-l .d4 {
        margin-top: 54px;
        float: left;
        width: 120px;
        margin-right: 10px; }
        #footer .f-t .f-t-l .d4 dt {
          font-size: 14px;
          margin-bottom: 14px; }
        #footer .f-t .f-t-l .d4 dd {
          font-size: 12px;
          margin-bottom: 14px; }
      #footer .f-t .f-t-l .d5 {
        margin-top: 54px;
        float: left;
        width: 120px;
        margin-right: 10px; }
        #footer .f-t .f-t-l .d5 dt {
          font-size: 14px;
          margin-bottom: 14px; }
        #footer .f-t .f-t-l .d5 dd {
          font-size: 12px;
          margin-bottom: 14px; }
    #footer .f-t .f-t-c {
      float: left;
      margin-top: 54px;
      padding-left: 40px;
      padding-right: 10px;
      border-left: 1px solid #e0e0e0; }
      #footer .f-t .f-t-c .t {
        font-size: 14px;
        color: #000;
        margin-bottom: 14px; }
      #footer .f-t .f-t-c p {
        font-size: 12px;
        color: #666;
        margin-bottom: 14px; }
        #footer .f-t .f-t-c p span {
          color: #919191; }
    #footer .f-t .f-t-r {
      float: right;
      margin-top: 54px; }
      #footer .f-t .f-t-r p {
        font-size: 14px;
        margin-bottom: 14px;
        color: #000000; }
      #footer .f-t .f-t-r ul {
        width: 260px; }
        #footer .f-t .f-t-r ul li {
          padding-left: 5em;
          text-indent: -5em;
          line-height: 1.8em; }
          #footer .f-t .f-t-r ul li a {
            color: #0563c3; }
  #footer .f-b {
    text-align: center; }
    #footer .f-b p {
      line-height: 1.8em; }
    #footer .f-b div {
      display: flex;
      justify-content: center; }
      #footer .f-b div a {
        margin-left: 10px; }
