.margin{width:1200px;margin:0 auto;}
html{
    background:#f5f5f5;
}
#top{
    background: #ffffff url(../img/top.png) no-repeat top;
    border-bottom: 1px solid #e4e4e4;height:112px;
    .top-b{
        height:30px;
        .t-l{
            margin-top: 80px;
            float: left;
            span{font:12px/30px "";}
            .red{display: inline-block;background:url(../img/logo1.png) no-repeat;height:13px;width:20px;vertical-align: middle;}
            .xia{display: inline-block;background:url(../img/logo2.png) no-repeat;height:5px;width:10px;vertical-align: middle;}
        }
        .t-r{
            float: right;
            margin-top: 80px;
            span{font:12px/30px "";color:#787878;}
            .bottom{display: inline-block;background:url(../img/logo3.png);height:6px;width:10px;vertical-align: middle;}
        }
    }
}

header{
    height:182px;background:#f5f5f5;
    .ht{overflow: hidden;
    .img{float: left;margin-left: 20px;margin-top: 47px;}

        .h-c{
            float: left;margin-left: 139px;margin-top: 40px;
            .h-c-t{overflow: hidden;}
            .h-c-t-l{
                box-sizing: border-box;
                height:44px;width:498px;border:1px solid #ed5831;float: left;height:44px;
                input{width:436px;height:100%;border:none;float: left;background-color:none;}
                a{background:url(../img/logo5.png) no-repeat;height:42px;width:60px;vertical-align: middle;border:none;display: inline-block;}
            }
            .h-c-t-c{float: left;margin-left: 60px;display:flex;
                i{background:url(../img/logo6.png) no-repeat;height:24px;width:24px;vertical-align: middle;border:none;display: inline-block;}
                a{font:12px/44px "";color:#212121;margin-left: 14px;
                    
                    &.login{
                        display:block;
                    }
                    &.exit{
                        display: none;
                    }
                }
            }
            .h-c-t-r{
                float: left;margin-left: 70px;
                i{background:url(../img/logo7.png) no-repeat;height:24px;width:24px;vertical-align: middle;display: inline-block;}
                a{font:12px/44px "";}
            }
            .h-c-b{
                ul{
                    li{float: left;font:12px/30px "";margin-right: 20px;color:#999999;}
                }
            }
        }
    }
    .hb{margin-top: 28px;background:#000;overflow: hidden;
        
        .hb-r{
            ul{float: left;overflow: hidden;
                li{float: left;font:16px/37px "";color:#fff;width:80px;padding-left:10px;padding-right:10px;text-align: center;
                &:hover{
                    background:#EB5A41;
                }
                }
            }
        }
    }
}

#main{
    .box-fix{
        display:flex;
        .box{
            display: flex;flex-direction: column;width:550px;
            position: relative;left: 0;top:0;
            .imgbox{
                position: relative;left: 0;top:0;
                display: flex;
                height:450px;width:100%;
                img{
                    width:100%;height:100%;
                }
                span{
                    background:rgba(0,9,159,0.3);position:absolute;display: none;
                }
            }
            .sbox{
                height:100px;width:100%;display: flex;
                ul{display: flex;
                    justify-content: center;align-items:center;
                    li{
                        margin-left: 10px;width:80px;height:80px;border:1px solid #99f;
                        cursor: pointer;
                        &.active{
                            border:1px solid #f99;
                        }
                        img{
                            height:100%;width:100%;
                            
                        }
                    }
                }
            }
            .bbox{
                position:absolute;left:110%;top:0;height:450px;width:550px;overflow: hidden;
                display: none;
                img{
                    width:1100px;height:900px;position: absolute;left:0;top:0;
                }
            }
        }
        .right{
            margin-left: 20px;
            flex:1;
            p{
                font-size:18px;
                font-weight: 600;
            }
            .jiage{
                background:#ddd;margin-top: 40px;
                span{
                    &.j-l{
                        display: inline-block;font:16px/26px "";padding-right: 40px;
                    }
                    &.price{
                        display: inline-block;font:26px/26px "";padding-right: 40px;color:#f47518;
                    }
                    &.low{
                        display: inline-block;font:12px/26px "";padding-left: 200px;
                    }
                }
                p{
                    font:14px/24px "";color:#999;
                }
            }
            .xinghao{
                margin-top: 40px;
                height:40px;display: flex;align-items:center;
                .j-l{
                    display: inline-block;font:16px/26px "";padding-right: 40px;
                }
                .d1{
                    display: flex;align-items: center;justify-content: center;cursor: pointer;
                    margin-left: 20px;
                    height:30px;width:40px;border:1px solid #EB5A41;
                    &.active{
                        border:1px solid #99f;
                    }
                }
            }
            .zhongliang{
                margin-top: 40px;
                .j-l{
                    display: inline-block;font:16px/26px "";padding-right: 40px;
                }
                .weight{
                    display: inline-block;
                    font:12/24px "";
                    margin-left: 30px;
                }
            }
            .num{
                margin-top: 40px;
                .j-l{
                    display: inline-block;font:16px/26px "";padding-right: 40px;
                }
                input{
                    margin-left: 20px;
                    width:40px;
                }
            }
            .add{
                height:40px;width:120px;background:#EB5A41;color:#fff;font:16px/40px "";cursor: pointer;
                margin-top: 55px;text-align: center;
            }
            
        }
    }
}

#footer{
    height:488px;background:#ebebeb;margin-top: 45px;border-top: 1px solid #000;
    .f-t{
        overflow: hidden;padding-bottom: 50px;
        .f-t-l{
            overflow: hidden;float: left;
            .d1{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }
            .d2{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }
            .d3{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
            .d4{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
            .d5{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
        }
        .f-t-c{
            float: left;margin-top: 54px;
            padding-left: 40px;padding-right: 10px;border-left:1px solid #e0e0e0;
            .t{
                font-size:14px;color:#000;margin-bottom: 14px;
            }
            p{
                font-size:12px;color:#666;margin-bottom: 14px;
                span{
                    color:#919191;
                }
            }
        }
        .f-t-r{
            float: right;margin-top: 54px;
            p{
                font-size:14px;margin-bottom: 14px;color:#000000;
            }
            ul{
                width:260px;
                li{
                    padding-left: 5em;
                    text-indent: -5em;
                    line-height:1.8em;
                    a{
                        color:#0563c3;
                    }
                }
            }
        }
    }
    .f-b{
        text-align: center;
        p{
            line-height:1.8em;
        }
        div{
            display:flex;justify-content: center;
            a{
                
                margin-left: 10px;
            }
        }
    }

}
