.margin{
    width:1200px;
    margin: 0 auto;
}
html{background: #f5f5f5;}
.time{
    position: absolute;;
    left:80px;top:1200px;
    background: url(../img/time.png);
    height:260px;
    width:190px;
    display: flex;
    flex-direction: column;
    h3{
        margin-top: 20px;
        width:100%;
        text-align: center;
        font-size:26px;
        color:#fff;
    }
    .times{
        margin-top: 120px;
        display: flex;justify-content: space-around;
        p{
            height:40px;width:40px;color:#fff;display: flex;justify-content: center;align-items: center;
            background:#2f3430;font-size:26px;
        }
        span{
            display: flex;justify-content: center;align-items: center;font-size:26px;color:#fff;
        }
    }
}
#top{
    background: #ffffff url(../img/top.png) no-repeat top;
    border-bottom: 1px solid #e4e4e4;height:112px;
    .top-b{
        height:30px;
        .t-l{
            margin-top: 80px;
            float: left;
            span{font:12px/30px "";}
            .red{display: inline-block;background:url(../img/logo1.png) no-repeat;height:13px;width:20px;vertical-align: middle;}
            .xia{display: inline-block;background:url(../img/logo2.png) no-repeat;height:5px;width:10px;vertical-align: middle;}
        }
        .t-r{
            float: right;
            margin-top: 80px;
            span{font:12px/30px "";color:#787878;}
            .bottom{display: inline-block;background:url(../img/logo3.png);height:6px;width:10px;vertical-align: middle;}
        }
    }
}

header{
    height:182px;background:#f5f5f5;
    .ht{overflow: hidden;
    .img{float: left;margin-left: 20px;margin-top: 47px;}

        .h-c{
            float: left;margin-left: 139px;margin-top: 40px;
            .h-c-t{overflow: hidden;}
            .h-c-t-l{
                box-sizing: border-box;
                height:44px;width:498px;border:1px solid #ed5831;float: left;height:44px;
                input{width:436px;height:100%;border:none;float: left;background-color:none;}
                a{background:url(../img/logo5.png) no-repeat;height:42px;width:60px;vertical-align: middle;border:none;display: inline-block;cursor: pointer;}
            }
            .h-c-t-c{float: left;margin-left: 60px;
                display: flex;
                a{font:12px/44px "";color:#212121;margin-left: 14px;float: left;
                    &.login{
                        display:block;
                    }
                    &.exit{
                        display: none;
                    }
                }
                i{background:url(../img/logo6.png) no-repeat;height:24px;width:24px;vertical-align: middle;border:none;display: inline-block;}

            }
            .h-c-t-r{
                float: left;margin-left: 70px;
                i{background:url(../img/logo7.png) no-repeat;height:24px;width:24px;vertical-align: middle;display: inline-block;}
                a{font:12px/44px "";}
            }
            .h-c-b{
                ul{
                    li{float: left;font:12px/30px "";margin-right: 20px;color:#999999;}
                }
            }
        }
    }
    .hb{margin-top: 28px;
        .hb-l{float: left;width:320px;
            p{background:url(../img/logo8.png) no-repeat left center;height:38px;color:#2d0059;font:16px/38px "";text-indent: 30px;}
            .list{
                .list-u{background:#333333;
                    position: relative;
                    .li1{
                        &:hover{
                            background:#fff;color:#000;
                        }
                        box-sizing: border-box;
                        overflow: hidden;padding:9px 20px;
                        .list2{
                            a{float: left;color: #ddd;font:12px/30px "";}
                            ul{float: left;margin-left: 14px;
                                li{float: left;margin-left: 5px;
                                    a{color:#999;font:12px/30px "";
                                        
                                    }
                                    
                                }
                            }
                        }
                        .three{
                            position: absolute;display: none;justify-content: space-around;
                            height:384px;width:900px;background:#fff;left:100%;z-index: 999;top:0;
                            ul{
                                display: flex;flex-direction: column;
                                li{
                                    margin-top: 20px;font-size:16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .hb-r{
            ul{float: left;overflow: hidden;
                li{float: left;font:16px/37px "";color:#000000;margin-right: 60px;}
            }
        }
    }
}

#banner{overflow: hidden;
    .banner{width:880px;float: left;position: relative;height:382px;overflow: hidden;
        ul{
            li{
                a{width:880px;display: block;position: absolute;left:880px;top:0;
                    &:nth-child(1){
                        left:0;
                    }
                    img{display: block;
                        width:880px;
                        height:382px;
                    }
                }
            }
        }
        .btnl{
            position: absolute;left:0;top:0;bottom:0;height:20px;width:30px;background:rgba(235, 235, 235, .3);margin:auto;display:block;
        }
        .btnr{
            position: absolute;right:0;top:0;bottom:0;height:20px;width:30px;background:rgba(235, 235, 235, .3);margin:auto;display:block;
        }
    }

}

#banner2{
    margin-top: 20px;
    height:140px;
    img{
    }

}

#temai{
    margin-top: 20px;
    ul{
        display:flex;
        justify-content: space-between;
        li{display: flex;
            a{
                width:285px;height:180px;
                img{
                    height:100%;width:100%;
                }
            }
        }
    }
}

#main{
    margin-top: 30px;
    display:flex;
    .m-l{
        flex: 1;
        .m-l-t{
            .m-l-t-t{
                padding:22px 0;
                h3{
                    display:inline;
                    font-size:28px;
                    color:#000;
                }
                span{
                    color:#666666;font-size:14px;
                }
            }
            .m-l-t-c{
                ul{
                    display: flex;background:#ebebeb;border-bottom: 1px solid #1a1a1a;box-sizing: border-box;
                    li{
                        cursor: pointer;
                        display: flex;justify-content: center;
                        align-items: center;margin-bottom:-1px;
                        box-sizing: border-box;
                        width:96px;height:42px;
                        &.active{
                            background:#fff;color:#ED5831;border-top:1px solid #ED5831;
                            border-bottom:1px solid #fff;
                        }
                    }
                }
            }
            .m-l-t-b{
                .box{
                    &.d1{
                        display: block;
                    }
                    &.d2{
                        display: none;
                    }
                    &.d3{
                        display: none;
                    }
                ul{display: flex;background:#fff;
                    li{
                        
                        width:185px;
                        .data{
                            padding-top: 20px;
                            .d-img{
                                padding: 15px 0 15px 15px;
                            a{  
                                display: block;
                                width:153px;height:153px;
                                img{width:100%;height:100%;}
                            }
                            }
                            .d-name{text-align: center;
                                a{
                                    display: block;
                                    margin:10px 15px;overflow: hidden;
                                    height:2.5em;
                                }
                            }
                            .d-price{
                                text-align: center;
                            }
                        }
                    }
                }
                                    
            }
            }
        }
        .m-l-b{
            .m-l-b-t{
                position: relative;
                padding:22px 0;
                h3{
                    display:inline;
                    font-size:28px;
                    color:#000;
                }
                span{
                    color:#666666;font-size:14px;
                }
                .right{
                    position: absolute;right:0;top:30px;
                    font-size:12px;color:#666666;
                    i{
                        display: inline-block;width:14px;height:14px;background:url(../img/logo9.png) no-repeat;
                    }
                }
            }
            .m-l-b-b{
                ul{display: flex;background:#fff;
                    li{
                        
                        width:185px;
                        .data{
                            padding-top: 20px;
                            .d-img{
                                padding: 15px 0 15px 15px;
                            a{  
                                display: block;
                                width:153px;height:153px;
                                img{width:100%;height:100%;}
                            }
                            }
                            .d-name{text-align: center;
                                a{
                                    display: block;
                                    margin:10px 15px;overflow: hidden;
                                    height:2.5em;
                                }
                            }
                            .d-price{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .m-r{
        margin-left: 20px;
        width:260px;
        .m-r-t{
            display:flex;justify-content: space-between;
            h3{
                font:28px/70px "";color:#000000;
                i{
                    background:url(../img/logo10.png) no-repeat;height:26px;width:26px;display:inline-block;vertical-align: middle;
                }
            }
            a{
                font:12px/70px "";color:#666;
                i{
                    background:url(../img/logo9.png) no-repeat;height:14px;width:14px;display:inline-block;
                    vertical-align: middle;
                }
            }
        }
        .m-r-c{
            ul{
                display: flex;background:#ebebeb;border-bottom: 1px solid #1a1a1a;box-sizing: border-box;margin-top: 12px;
                li{
                    display: flex;justify-content: center;
                    align-items: center;margin-bottom:-1px;
                    box-sizing: border-box;
                    width:96px;height:42px;
                    &.active{
                        background:#fff;color:#ED5831;border-top:1px solid #ED5831;
                        border-bottom:1px solid #fff;
                    }
                }
            }
        }
        .box1{
            background:#fff;padding-bottom:10px;
            .box-title{
                display:flex;height:40px;background:url(../img/logo11.png) no-repeat right center;
                .img{
                    height:40px;width:80px;
                    img{
                        width:100%;height:100%;
                    }
                }
                .box{
                    display:flex;align-items: center;
                    flex:1;height:40px;margin-left: 15px;color:#000000;
                }
            }
            .box-fix{
                ul{
                    li{
                        box-sizing: border-box;
                        padding: 10px;
                        display:flex;margin-top: 11px;
                        height:70px;
                        a{
                            width:70px;height:50px;
                            img{
                                width:100%;height:100%;display:block;
                            }
                        }
                        .box-right{
                            flex:1;
                            .title{
                                width:170px;
                                a{
                                    width:170px;
                                    height:28px;
                                white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#main2{
    overflow: hidden;
    .m2-t{
        position: relative;
            padding:22px 0;
            h3{
                display:inline;
                font-size:28px;
                color:#000;
            }
            span{
                color:#666666;font-size:14px;
            }
            .right{
                position: absolute;right:0;top:30px;
                font-size:12px;color:#666666;
                i{
                    display: inline-block;width:14px;height:14px;background:url(../img/logo9.png) no-repeat;
                }
            }
    }
    .m2-fix{
        .m2-t{
            display:flex;justify-content: space-between;
            .m2-t-l{
                width:550px;
                .t{
                    height:55px;
                    background:url(../img/pos.png) no-repeat; text-indent: 105px;
                    span{
                        font-size:26px;
                    }
                }
                .box1{width: 100%;overflow: hidden;background:#fff;height:285px;
                    ul{border:1px solid #ebebeb;
                        li{
                            width:152px;
                            float: left;margin-right: 30px;
                            .m-box{
                                font-size:12px;
                                padding:16px;
                                .img{
                                    display: block;
                                    width:152px;height:152px;
                                    img{
                                        width:100%;height:100%;
                                    }
                                }
                                .title{
                                    margin-top: 8px;
                                    margin-bottom: 8px;
                                    font-size: 12px;
                                    line-height: 1.5;
                                    height: 3.0em;
                                    display: block;
                                    overflow: hidden;
                                    color: #333;    
                                }
                                .price{
                                    display:inline-block;
                                    height:48px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .m2-t-r{
                width:550px;
                .t{
                    height:55px;
                    background:url(../img/pos.png) no-repeat 0px -55px; text-indent: 105px;
                    span{
                        font-size:26px;
                    }
                }
                .box1{width: 100%;overflow: hidden;background:#fff;height:285px;
                    ul{border:1px solid #ebebeb;
                        li{
                            width:152px;
                            float: left;margin-right: 30px;
                            .m-box{
                                font-size:12px;
                                padding:16px;
                                .img{
                                    display: block;
                                    width:152px;height:152px;
                                    img{
                                        width:100%;height:100%;
                                    }
                                }
                                .title{
                                    margin-top: 8px;
                                    margin-bottom: 8px;
                                    font-size: 12px;
                                    line-height: 1.5;
                                    height: 3.0em;
                                    display: block;
                                    overflow: hidden;
                                    color: #333;    
                                }
                                .price{
                                    display:inline-block;
                                    height:48px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
        .m2-b{
            display:flex;justify-content: space-between;
            .m2-b-l{
                width:550px;
                .t{
                    height:55px;
                    background:url(../img/pos.png) no-repeat 0px -110px; text-indent: 105px;
                    span{
                        font-size:26px;
                    }
                }
                .box1{width: 100%;overflow: hidden;background:#fff;height:285px;
                    ul{border:1px solid #ebebeb;
                        li{
                            width:152px;
                            float: left;margin-right: 30px;
                            .m-box{
                                font-size:12px;
                                padding:16px;
                                .img{
                                    display: block;
                                    width:152px;height:152px;
                                    img{
                                        width:100%;height:100%;
                                    }
                                }
                                .title{
                                    margin-top: 8px;
                                    margin-bottom: 8px;
                                    font-size: 12px;
                                    line-height: 1.5;
                                    height: 3.0em;
                                    display: block;
                                    overflow: hidden;
                                    color: #333;    
                                }
                                .price{
                                    display: inline-block;
                                    height:48px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .m2-b-r{
                width:550px;
                .t{
                    height:55px;
                    background:url(../img/pos.png) no-repeat 0px -165px; text-indent: 105px;
                    span{
                        font-size:26px;
                    }
                }
                .box1{width: 100%;overflow: hidden;
                    background:#fff;height:285px;
                    ul{border:1px solid #ebebeb;height:285px;position: relative;display:block;width:1200px;
                        li{
                            width:185px;
                            float: left;
                            display: block;
                            .m-box{
                                font-size:12px;
                                padding:16px;
                                .img{
                                    display: block;
                                    width:152px;height:152px;
                                    img{
                                        width:100%;height:100%;
                                    }
                                }
                                .title{
                                    margin-top: 8px;
                                    margin-bottom: 8px;
                                    font-size: 12px;
                                    line-height: 1.5;
                                    height: 3.0em;
                                    display: block;
                                    overflow: hidden;
                                    color: #333;    
                                }
                                .price{
                                    display:inline-block;
                                    height:48px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}


#footer{
    height:488px;background:#ebebeb;margin-top: 45px;border-top: 1px solid #000;
    .f-t{
        overflow: hidden;padding-bottom: 50px;
        .f-t-l{
            overflow: hidden;float: left;
            .d1{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }
            .d2{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }
            .d3{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
            .d4{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
            .d5{
                margin-top: 54px;float: left;width:120px;margin-right: 10px;
                dt{
                    font-size:14px;
                    margin-bottom: 14px;
                }
                dd{
                    font-size:12px;
                    margin-bottom: 14px;
                }
            }   
        }
        .f-t-c{
            float: left;margin-top: 54px;
            padding-left: 40px;padding-right: 10px;border-left:1px solid #e0e0e0;
            .t{
                font-size:14px;color:#000;margin-bottom: 14px;
            }
            p{
                font-size:12px;color:#666;margin-bottom: 14px;
                span{
                    color:#919191;
                }
            }
        }
        .f-t-r{
            float: right;margin-top: 54px;
            p{
                font-size:14px;margin-bottom: 14px;color:#000000;
            }
            ul{
                width:260px;
                li{
                    padding-left: 5em;
                    text-indent: -5em;
                    line-height:1.8em;
                    a{
                        color:#0563c3;
                    }
                }
            }
        }
    }
    .f-b{
        text-align: center;
        p{
            line-height:1.8em;
        }
        div{
            display:flex;justify-content: center;
            a{
                
                margin-left: 10px;
            }
        }
    }

}